<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group" role="group">
                <a route-href="route: change-product-name;" class="btn btn-default">Use Case Change Product Name</a>
                <a route-href="route: change-supplier-name;" class="btn btn-default">Use Case Change Supplier Name</a>
                <a route-href="route: change-category-name;" class="btn btn-default">Use Case Change Category Name</a>
            </div>
        </div>
    </div> 
</template>



